.vscode

# Временные папки (time directories)
[0-9]*/
[0-9][0-9]*/
[0-9][0-9][0-9]*/

# Логи и временные файлы
log.*
*.foam
*.obj
*.dat

# Папки с пост-обработкой
postProcessing/

# Файлы с результатами расчетов
*.OpenFOAM

# Другие временные файлы
*.bak
*.swp

Make/linux64GccDPInt32Opt

*/polyMesh/